*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    margin: 0 auto;
    background-color: blueviolet;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: large;
}

header{
    margin: 0 auto;
    max-width: 600px;
    padding: 35px;
    align-content: center;
}

#survey-form{
    align-items: center;
}

.div-container{
    margin: 10px;
}

.input{
    width: 90%;
    height: 35px;
    border-radius: 5px;
}


#main{
    margin: 0 auto;
    padding: 10px;
    max-width: 600px;
    background-color:rgba(27, 27, 50, 0.8);
    border-radius: 5px;
    color: white;
}


#name-label,
#email-label,
#role-label,
#number-label{
    display: block;
}